{% extends "base.html" %}

{% block content %}
        <h1>Signup</h1>
        <form method='POST'>
            <label>Username
                <input name="username" type="text" value='{{username}}' />
            </label>{{username_error}}

            <p></p>
            <label>Password
                <input name="password" type="password" value='{{password}}' />
            </label>{{password_error}}
            <p></p>

            <label>Verify Password
                <input name="verify-password" type="password" value='{{verify_password}}' />
            </label>{{verify_password_error}}
            <p></p>

            <label>Email (optional)
                <input name="email" type="text" name='{{email}}' />
            </label>{{email_error}}
            <p></p>
            
            <input type="submit" value="Submit Query" />
        </form>

{% endblock %}